* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(9, 5, 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 9px 3px black;
    background: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;

}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: rgb(19, 139, 13);
    height: 90px;
    border-color: black;
    box-shadow: 6px 7px 4px black inset;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 60px;
    color: black;
    box-shadow: 5px 9px 3px black;
    background-color: green;
    border-color: black;

}

form input.operator {
    color: black;
    background-color: chocolate;
    border-color: black;

}

form input.all {
    color: black;
    background-color: white;

}

form input.delete {
    color: black;
    background-color: red;
}